*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.header{
 border: 1x solid;
    width: 100%;
    height: 100vh;
    
    background-image: linear-gradient( rgba(120, 234, 232, 0.734),rgba(210, 173, 245, 0.7)),
    url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtukTG9zONJJYptKa909hibz09PGmN-YxZd6Q6tfecsQ&s");
    background-size: cover;
}
h1{
    color: #fff;
    font: 30px;
    padding: 25px 25px;
 }